@import 'mixins/mixin';
@import "common/index";
@include w(backtop){
  position: fixed;
  right: 20px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background: $--color-primary-light-9;
  border-radius: 2px;
  box-shadow: 1px 1px 4px 1px $--color-primary-light-6;
  cursor: pointer;
  color: $--color-primary;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease .2s;
  &:hover{
    background: $--color-primary-light-8;
  }
}
