@import 'mixins/mixin';
@import "common/index";
@include w(badge){
  position: relative;
  display: inline-block;
  @include in(inner) {
    display: flex;
    position: absolute;
    top:0;
    right: 0;
    transform: translate(50%,-50%);
    background: $--color-danger;
    color: $--color-white;
    padding:3px 5px;
    font-size: 12px !important;
    border-radius: 9999px;
    min-width: 18px;
    height: 18px;
    line-height: 12px;
    text-align: center;
    @include when(dot){
      width: 10px !important;
      height: 10px !important;
      min-width: 10px !important;
      border-radius: 50%;
    }
  }
}
