@import 'mixins/mixin';
@import "common/index";
@include w(radio){
  position: relative;
  color: #606266;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  line-height: 1;
  margin-right: 20px;
  user-select: none;
  @include when(checked) {
    .w-radio-item{
      .w-radio-inner{
        border-color: $--color-primary;
        background: $--color-primary;
        &:before{
          display: block;
          content: '';
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          width: 50%;
          height: 50%;
          background: #fff;
          border-radius: 50%;
        }
      }
      .w-radio-label{
        color:$--color-primary;
      }
    }
  }
  .w-radio-label{
    padding-left:10px;
    transition: all ease .2s;
  }
  .w-radio-input{
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    line-height: 1;
    position: relative;
    display: inline-block;
    .w-radio-inner{
      position: relative;
      border: 1px solid $--color-text-secondary;
      border-radius: 100%;
      width: 14px;
      height: 14px;
      background-color: $--color-white;
      cursor: pointer;
      display: inline-block;
      vertical-align:top;
      transition: all ease .2s;
    }
    .w-radio-original{
      opacity: 0;
      outline: none;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }

  }
  @include when(disabled) {
    .w-radio-item{
      .w-radio-inner{
        cursor: not-allowed;
        color: $--color-disable ;
        background-color:$--color-disable-bg;
        border-color: $--color-disable;
        &:before{
          background: #ccc;
        }
      }
      .w-radio-label{
        cursor: not-allowed;
        color:$--color-disable;
      }
    }
  }
}


